@font-face {
    font-family: "Helvetica Neue Ultra Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("fonts/HelveticaNeue-UltraLight.otf") format("opentype"),  url("fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("fonts/HelveticaNeue-Light.otf") format("opentype"),  url("fonts/HelveticaNeue-Light.ttf") format("truetype");
}

body *:not([class*="z-icon-"]) {
    font-family: "Helvetica Neue Light" !important;
    color: black !important;
}

body .z-button-os {
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 1);
    cursor: pointer;
    border-width: 0px;
}

body .z-button-os-border.z-button-os {
    border: 1px solid lightgray;
}

body .z-button-dashboard {
	font-size: 14pt;
}

body .z-button-dashboard-user {
	font-size: 12pt;
}

body .z-button-os-disd {
	cursor: not-allowed;
	color: lightgray !important;
}

body .actionButton {
    background-image: linear-gradient(to bottom, #428BCA, #428BCA);
    border: 0 none;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);*/
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white !important;
}

.header {
	/* background-color: #B0C4DE; */
	color: black;
	padding-bottom: 13px; 
	padding-top: 10px;
	/*width: 100%;*/ 
	width: 960px; 
	height: 60px;
}

.header-head{
	font-size: 2.4em;
}
.header .logout{
	text-decoration: underline;
	cursor: pointer;
} 

.footer {
	/*background-color:#B0C4DE;*/
	border-radius: 0 0 8px 8px;
	color: black;
	width: 100%; 
}

.footer a,.footer a:VISITED {
	color: black;	
}

.index-footer {
	width: 960px; 
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.headerLinks ,.headerLinks:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}

.head1{
	font-size: large;
}
.head2{
	font-size: medium;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
}

.fn-caption .z-caption-l{
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label{
	text-decoration: line-through;
}

.warn{
	color:red;
}

.demo-main a,.demo-main a:VISITED{
	color:#636363;
	text-decoration: underline;
	font-size: smaller;	
}

.todo-box {
	padding-right:4px;
}

#New layout

.content {
	margin: 0px auto;
	width: 960px;
	padding-top: 10px;
	text-align: left;
}

.mainWindowContent {
	background-color: white;
	padding: 0px;
}

button {
	min-height: 25px;
}

.z-caption button, .z-caption .z-button .z-button-btn {
    font-size: 12px;
}

.info {
    font-size: 12px;
    text-align: left;
}

.buttonhide {
	float: right;
}

.invalidPath .z-label {
	color: red !important; 
	text-decoration: line-through;
}

.z-menuitem-btn, .z-menu-btn {
	font-size: 13px !important;
} 